*{
  margin: 0;
  padding: 0;
}
.navbar{
  width: 100%;
  background-color: #F29325;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menubar{
  display: flex;
  justify-content: left;
  align-items: center;
}
.menubar li{
  padding-left: 1.2rem;
  list-style: none;
  font-size: 2vmin;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}
.logo img{
  display: flex;
  flex-direction: row;
  width: auto; height: 75px;
  justify-content: center;
  align-items: center;
}
a{
text-decoration: none;
color: white;
}
a:hover{
  color: #A6032F;
  font-weight: bolder;
}
@media screen and (max-width: 700px){
  .navbar{
      flex-direction: column;
      justify-content: center;
  }
  img{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }    
  .menubar{
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: #E1523D ;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .menubar li{
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 0.7rem;
      padding-left: 0;
  }
}
body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: white; 
}
.formulario-de-contacto{  
  width: 75%; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  background-color:white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5); 
}
input{
  background-color: #fbfbfb; 
  width: 100%; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: darkgreen; 
  margin-top: 10px;  
  margin-bottom: 20px;
  padding-left: 3%;
}
.input{
  width: 85%; 
  height: 85px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.input1{
  width: 85%; 
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.input1 input{
  width: 100%; 
  height: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
button{
  height: 40px; 
  width: 50%;  
  text-transform: uppercase;
  background-color: darkgreen1; 
  border-color: darkgreen; 
  border-style: solid; 
  border-radius: 10px;  
  cursor: pointer;
  margin-left: 25%;
  color: #fff; 
}
label{
  text-align: left;
}
span{
  color: darkgreen; 
}
.aviso{
  padding-top: 10px;
  font-size: 13px;  
  color: #0e0e0e;  
}
h1{
  width: 90%;
  font-size: 2.5rem;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: darkgreen;
  padding-left: 5%;
  text-align: center;
}
.formulario h3{
  width: 90%;
  font-size: 1rem; 
  color: #0e0e0e;   
  text-align: center  ;
  padding-left: 5%;
}
.formulario p{
  font-size: 14px; 
  color: #0e0e0e;
  margin:0 auto; 
  width: 90%;
}
::-webkit-input-placeholder {
 color: #a8a8a8;
}
.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}
.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
.container-footer{
  width: 100vw;
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}
.item{
  width: 250px;
  background-color: darkgreen;
  flex-grow: 1;
  padding: 3%;
  color: white;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-footer-design{
  width: 100vw;
  background-color: rgb(1, 46, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}
.item4 h5{
  width: 250px;
  height: 50px;
  background-color: rgb(1, 46, 1);
  flex-grow: 1;
  color: white;
  text-align: center;
  padding-top: 22px;
  font-family: 'Thasadith', sans-serif;
  font-size: 16px;
  font-weight: 400;
}